!! Note that pywal will change Xresources colors (so apps that use Xresoures will change colors!)

*.font: xft:Ubuntu Mono 10

Xft.dpi:                        220
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

!! Urxvt terminal emulator
URxvt*termName:                 rxvt-256color
URxvt.font: xft:Ubuntu Mono:size=10
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           25
URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:             firefox
URxvt.matcher.button: 		1
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
Urxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


!! rofi
rofi.fullscreen: false
