[Unit]
Description=Mount unit for mailspring, revision 505
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/mailspring_505.snap
Where=/var/lib/snapd/snap/mailspring/505
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
