[Unit]
Description=Mount unit for core20, revision 1026
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core20_1026.snap
Where=/var/lib/snapd/snap/core20/1026
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
