!! Make sure to run `xrdb -load ~/.Xresources` after changes!

!! Hexcode color format: #AARRGGBB or #ARGB or #RRGGBB

!! Colorscheme
! special
*.foreground:   #d8dee9
*.background:   #552e3440
*.cursorColor:  #d8dee9

! black
*.color0:       #3b4252
*.color8:       #4c566a

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #81a1c1
*.color12:      #81a1c1

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #88c0d0
*.color14:      #8fbcbb

! white
*.color7:       #e5e8f0
*.color15:      #eceff4

!! Urxvt Options

! Do not scrool to bottom when tty recieves output
URxvt*scrollTtyOutput: false
! Disable scrollbar
URxvt*scrollBar: false
! Fonts
URxvt*font: xft:Inter:pixelsize:11
! Copy/Paste key bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! remove old copy paste key bindings
URxvt.iso14755: false
URxvt.iso14755_52: false
